doctype html
html
  head
    title Coverage
    include script.html
    include style.html
  body
    include menu
    #coverage(role="main")
      h1#overview Coverage

      #stats(class="stats #{coverageClass(cov.coverage)}")
        .percentage #{cov.coverage | 0}% line coverage
        .statements #{cov.statements | 0}% statement coverage
        .blocks #{cov.blocks | 0}% block coverage
        .sloc #{cov.sloc} SLOC
        .hits= cov.hits
        .misses= cov.misses

      #files
        for file in cov.files
          .file
            h2(id=file.filename)= file.filename
            .stats(class=coverageClass(file.coverage))
              .percentage #{file.coverage | 0}% line coverage
                if file.coverage < 100
                  a(href="#miss0")
                    = ' go '
                    span.offscreen jump to first missed line
              .statements #{file.statements | 0}% statement coverage
                if file.statements < 100
                  a(href="#partial0")
                    = ' go '
                    span.offscreen jump to first missed statement
              .blocks #{file.blocks | 0}% block coverage
              .sloc #{file.sloc} SLOC
              .hits= file.hits
              .misses= file.misses

            div.table
              table.source
                thead
                  tr
                    th Line
                    th Hits
                    th Statements
                    th Source
                    th Action
                tbody
                  for line, number in file.source
                    tr(class=coverageCategory(line))
                      td.line #{number + 1}
                      td.hits #{line.coverage > 0 ? line.coverage : (line.coverage === 0 ? 0 : '')}
                      td.statements #{line.coverage > 0 ? line.statements.toFixed(0) + '%' : ''}
                      td.source
                        for segment in line.segments
                          span(class="statement #{segment.count ? '' : 'notok'}")
                            if !segment.count
                              span.offscreen= ' not covered '
                            = segment.code
                      td.action
        for missed in cov.uncovered
          .file
            h2(id=missed)= missed
            .stats(class=coverageClass(0))
              .percentage #{0}% line coverage
              .statements #{0}% statement coverage
              .blocks #{0}% block coverage
